* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #efefef;
}
  
.header {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
  
.header-title {
    margin: 0;
    color: #000000;
    font-size: 25px;
}
  
.header-sections {
    display: flex;
    align-items: center;
}
  
.header-sections a {
    margin-left: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}
  
.header-sections a:hover {
    color: #555555;
}
  

.login-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
  
.login-window-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#signup-form {
    display: none;
}

#verify-form {
    display: none;
}
  
#login-exitbtn {
    position: absolute;
    top: 150px;
    right: 150px;
}

/* Styles for the radio buttons */
#login, #signup {
    display: none; /* Hide the radio buttons */
  }
  
  /* Styles for the labels */
  label {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  /* Styles for the "Login" label */
  #login:checked + label {
    background-color: #3498db;
    color: white;
    transform: translateX(0%);
  }
  
  /* Styles for the "Sign Up" label */
  #signup:checked + label {
    background-color: #e74c3c;
    color: white;
    transform: translateX(100%);
  }
  
  /* Slide effect */
  label {
    transition: transform 0.3s ease;
  }
  
  #verify-form-code {
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }

  #code {
    caret-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 30px;
    width: 75px;
    height: 80px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
}
